<div class="lineinput">
	<% form_for(@line) do |f| %>
	  <%= f.error_messages %>
	  <%= f.hidden_field :account_id, :value => line.id %>
	  <%= f.text_field :amount, :autocomplete => 'off' %>
	<% end %>
	(Skriv '+' foran for at sætte ind)
</div>
