<h1>Listing accounts</h1>

<table>
<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.child.name if account.child %></td>
    <td><%= link_to account.atype, child_account_lines_path(account.child, account) %></td>
    <td><%=h account.total %></td>
	</td>
  </tr>
<% end %>
</table>
